@import "variabili.scss";

    main{
        .bg-container{
            background-color: black;
            
            position: relative;
          
        }

        .jumbo-bg{
           
           background-image: url(../assets/jumbotron.jpg);
           height: 300px;
           background-size: cover;
        }
    }

    .btn-cs{
        background: #0282f9;
        border: 0;
        padding: 10px;
        color: white;
        font-weight: bold;
        position: absolute;
        top: -20px;
        z-index: 2;
        
    }

    .btn-load{
        text-align: center;
        padding-bottom: 10px;


        button{
            background-color: #0282f9;
            padding: 10px 30px;
            border: 0;
            color: white;
            font-size: 10px;
            font-weight: bold;

        }
    }


    .content{
        display: flex;
        flex-wrap: wrap;
        max-width: 920px;
        margin: auto;
        padding: 40px 0;
        
    }

    .style-content{
        color: white;
        margin: 0;
    }
    .section-icon{
        background-color: rgb(2, 130, 249);
        padding: 10px 0;
    }

    .icon-container{
        display: flex;
        margin: auto;
        max-width: 920px;
        justify-content: space-between;
        padding: 55px 0;

        .icon-style{
            width: 30px;  
        }

    }

   

   
.flex-style{
    display: inline-flex;
    align-items: center;
    
}

.icon-text{
    color: white;
    padding-left: 10px;
}