@import "variabili.scss";

    main{
        .bg-container{
            background-color: black;
        }
    }


    .content{
        padding: 45px 0;
        max-width: 920px;
        margin: auto;
    }

    .style-content{
        color: white;
        margin: 0;
    }
    .section-icon{
        background-color: rgb(2, 130, 249);
        padding: 10px 0;
    }

    .icon-container{
        display: flex;
        margin: auto;
        max-width: 920px;
        justify-content: space-between;
        padding: 55px 0;

        .icon-style{
            width: 30px;
            
        }

    }

   

   
.flex-style{
    display: inline-flex;
    align-items: center;
    
}

.icon-text{
    color: white;
    padding-left: 10px;
}